{% extends "layout.html" %}

{% block title %}
    Create Tweet
{% endblock title %}

{% block content %}
    {% comment %} <h1 class="text-center"> 
        Twitter!
    </h1> {% endcomment %}
    <h2 class="text-center"> 
        {% if form.instance.pk %} 
            Edit Tweet 
        {% else %} 
            Create Tweet
        {% endif %}
    </h2>
    <h3 class=" font-monospace font-size-5 text-primary">
        <form class="form p-2 rounded bg-dark shadow-sm" style="max-width:500px;" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class=" mt-3 d-flex flex-column ">
                

                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}<small class="form-text text-warning">{{ field.help_text }}</small>{% endif %}
                    {{ field.errors }}
                    
                </div>
            {% endfor %}
        
            <button type="submit" class="btn btn-primary btn-block mt-3">Post</button>
            <a href="{% url "tweet_list" %}" class="btn btn-secondary mt-3">Cancel</a>
           

            </form>
    
    </h3>
{% endblock content %} 
