{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h2 class="mb-3">Login</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
          <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
            {{ field.errors }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <p><a class="btn btn-primary mt-3" href="{% url 'register' %}">Don't have an account?</a></p>
    </div>
  </div>
{% endblock %}